.codeBlock {
  background-color: #1e1e1e;
  border-radius: 4px;
  padding: 1em;
  margin: 0.5em 0;
  overflow-x: auto;
  padding-right: 40px; /* Make space for the copy button */
}

.codeBlock code {
  color: #d4d4d4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  line-height: 1.6;
  display: block;
  width: 100%;
}
.codeBlockWrapper {
  position: relative;
}

.copyButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.markdownImage {
  position: relative;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.responsiveImage {
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}



.youtubeLink {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.youtubeTitleWrapper {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: 8px;
  font-size: 0.9em;
}

.youtubeIcon {
  color: #ff0000;
  margin-right: 4px;
  font-size: 0.8em;
}

.youtubeTitle {
  color: #333;
  font-weight: 500;
}