$theme-colors: (
  "primary": #AFB7FF,
  "secondary": #6C757D,
  "info": #765285,
);

@import "@/node_modules/bootstrap/scss/bootstrap";


body {
  font-family: "Vazir";
  font-weight: 10px;
}
p {
  font-size: 16px;
}


.auth-card input {
  direction: ltr;
}

.nav-link {
  @extend a;
  transition: 0.3s all ease;
  &:hover,
  &:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
  }
}

.ftco-section {
  padding: 7em 0;
}
.ftco-no-pt {
  padding-top: 0;
}
.ftco-no-pb {
  padding-bottom: 0;
}

//SIDEBAR
.wrapper {
  width: 100%;
}
#sidebar {
  @extend .bg-primary;
  min-width: 270px;
  max-width: 270px;
  transition: all 0.3s;
  &.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    ul.components {
      li {
        font-size: 14px;

        a {
          @extend .text-center;
          padding: 10px 0;

          svg {
            margin-right: auto;
            margin-left: auto;
            display: block;
            font-size: 24px;
          }
        }
      }
    }
    .logo {
      padding: 10px 0;
    }
  }
  .logo {
    display: block;
    color: $white;
    font-weight: 900;
    padding: 10px 30px;
    @include transition(0.3s);
  }
  ul.components {
    padding: 0;
    @include transition(0.3s);
  }
  ul {
    li {
      font-size: 16px;
      > ul {
        margin-left: 10px;
        li {
          font-size: 14px;
        }
      }
      .nuxt-link-exact-active {
        color: white;
        filter: drop-shadow(0 0.1rem 0.15rem rgba(0, 0, 0, 0.4));
        font-weight: bold;
        @extend .d-lg-block;
        @extend .d-none;
      }
      a {
        padding: 10px 30px;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        svg {
          margin-right: 15px;
          @include media-breakpoint-down(md) {
            display: block;
          }
        }
        &:hover {
          color: $white;
        }
      }
      &.active {
        > a {
          background: transparent;
          color: $white;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
    &.active {
      margin-left: 0 !important;
    }
  }
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#sidebarCollapse {
  svg {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
.footer {
  padding: 0 30px;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}

.icon-menu {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
}

.modal-body {
  text-align: right;
}

.toast-body {
  text-align: right;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// .custom-file label,
// .custom-file {
//   min-height: 6em;
// }
// .custom-file label span{
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }

.custom-file-input:lang(fa) ~ .custom-file-label::after {
  content: "انتخاب";
  height: 100%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
