@font-face {
	font-family: 'Vazir';
	/* src: url( 'Yekan.eot' ); */
	src: url( 'Vazirmatn-Light.woff2' ) format( 'woff2' ),
		url( 'Vazirmatn-Light.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

[data-bs-theme="light"] body {
  background-color: #f8f9fa;
}

[data-bs-theme="dark"] body {
  background-color: var(--bs-dark);
}

