@font-face {
	font-family: 'Vazir';
	/* src: url( 'Yekan.eot' ); */
	src: url( 'Vazirmatn-Light.woff2' ) format( 'woff2' ),
		url( 'Vazirmatn-Light.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}



/* Override specific Bootstrap component colors if needed */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.btn-success {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}

.btn-info {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}

.btn-warning {
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
}

.btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.btn-light {
  background-color: var(--bs-light);
  border-color: var(--bs-light);
}

.btn-dark {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.text-primary {
  color: var(--bs-primary) !important;
}

