/* globals.css */

  
  body {
    font-family: "Vazir", sans-serif;
    font-weight: 400;
  }
  
  p {
    font-size: 16px;
  }
  
  .auth-card input {
    direction: ltr;
  }
  
  .nav-link {
    transition: 0.3s all ease;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
  }
  
  .ftco-section {
    padding: 7em 0;
  }
  
  .ftco-no-pt {
    padding-top: 0;
  }
  
  .ftco-no-pb {
    padding-bottom: 0;
  }
  
  .wrapper {
    width: 100%;
  }
  
  #sidebar {
    background-color: var(--primary);
    min-width: 270px;
    max-width: 270px;
    transition: all 0.3s;
  }
  
  #sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
  }
  
  #sidebar.active ul.components li {
    font-size: 14px;
  }
  
  #sidebar.active ul.components li a {
    text-align: center;
    padding: 10px 0;
  }
  
  #sidebar.active ul.components li a svg {
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 24px;
  }
  
  #sidebar .logo {
    display: block;
    color: white;
    font-weight: 900;
    padding: 10px 30px;
    transition: 0.3s;
  }
  
  #sidebar ul.components {
    padding: 0;
    transition: 0.3s;
  }
  
  #sidebar ul li {
    font-size: 16px;
  }
  
  #sidebar ul li > ul {
    margin-left: 10px;
  }
  
  #sidebar ul li > ul li {
    font-size: 14px;
  }
  
  #sidebar ul li .nuxt-link-exact-active {
    color: white;
    filter: drop-shadow(0 0.1rem 0.15rem rgba(0, 0, 0, 0.4));
    font-weight: bold;
  }
  
  #sidebar ul li a {
    padding: 10px 30px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  #sidebar ul li a svg {
    margin-right: 15px;
  }
  
  #sidebar ul li a:hover {
    color: white;
  }
  
  #sidebar ul li.active > a {
    background: transparent;
    color: white;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
    }
  
    #sidebar.active {
      margin-left: 0 !important;
    }
  
    #sidebar ul li a svg {
      display: block;
    }
  
    .custom-file-input:lang(fa) ~ .custom-file-label::after {
      display: none;
    }
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
  }
  
  .icon-menu {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
  }
  
  .modal-body,
  .toast-body {
    text-align: right;
  }
  
  .custom-file-input:lang(fa) ~ .custom-file-label::after {
    content: "انتخاب";
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Add any additional styles here */